body{
    background-color: #f1f1f1;
}
h1{
    font-family: 'Bungee Inline', cursive;
    color: rgb(74, 151, 11);
}
.contact-form{
    max-width: 450px;
    margin: 20px auto;
}
.contact-form .form-group{
 margin-bottom: 0;
 position: relative;

}
.contact-form .asterisx{
    float: right;
    height: 0;
    font-size: 22px;
    color: rgb(186, 26, 26);
    position: absolute;
    right: 3px;
    top: 7px;
}
.contact-form input,
.contact-form textarea{
    margin-bottom: 5px;
}
.contact-form textarea{
    height: 180px !important;
}
.contact-form  i {
    height: 0;
    float: left;
    position: relative;
    top: -29px;
    left: 10px;
    color: rgb(74, 151, 11);
}
.contact-form input{
    padding-left: 28px;
}
.contact-form .send-icon{
    display: block;
    position: relative;
    top:10px;
    left: 7px;
    color: #fff;
}
.contact-form .custom-alert{
    padding: 5px 10px;
    display: none;
}